.profile {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.background {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    object-fit: none;
    object-position: 50% 100%;
}

.landscape {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center -175px;

}

.banner {
    &-name {
        background-color: #18FFFA;
        .ant-typography {
            margin-bottom: 0px;
        }
    }
    &-title {
        text-align: center;
        font-family: 'Arial';
    }  
} 

.menu {
    &-row{
        .ant-menu{
            background-color: #18FFFA;
        }
    }
    &-bar{
        //Not doing anything
        margin: auto;
    }
    
}