.backgroundResume{
    background: rgb(82,133,213);
    background: linear-gradient(0deg, rgba(82,133,213,1) 0%, rgba(255,255,255,1) 115%);
}
.backgroundHome{
    background: rgb(82,133,213);
    background: linear-gradient(0deg, rgba(82,133,213,1) 0%, rgba(255,255,255,1) 115%);
}

.backgroundHistory{
    background: rgb(82,133,213);
    background: linear-gradient(0deg, rgba(82,133,213,1) 0%, rgba(255,255,255,1) 115%);
}

.backgroundProjects{
    background: rgb(82,133,213);
    background: linear-gradient(0deg, rgba(82,133,213,1) 0%, rgba(255,255,255,1) 115%);
    padding-top: 1%;
}

.backgroundOther{
    background: rgb(82,133,213);
    background: linear-gradient(0deg, rgba(82,133,213,1) 0%, rgba(255,255,255,1) 115%);
}
